.squareResult {
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgba(67, 71, 100, 0.67);
  transition: background-color 0.5s;
  cursor: pointer;
}

.squareResult:hover {
  background-color: rgba(62, 69, 135, 0.78);
}

.imageWrapper {
  display: flex;
  align-items: center;
  width: 7em;
  height: 7em;
  border-radius: 3.5em;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: fit-content;
}

.name {
  margin-top: 1em;
  text-overflow: ellipsis;
  font-size: 1.5em;
  font-weight: bold;
}

.type {
  margin-top: 1em;
  font-size: 0.9em;
  color: grey;
}
