.artistDiv {
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.artistDiv:hover {
  background-color: rgba(72, 72, 74, 0.59);
}

.imageWrapper {
  display: flex;
  align-items: center;
  width: 11em;
  height: 11em;
  border-radius: 5.5em;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: fit-content;
}

.name {
  margin-top: 1em;
  text-overflow: ellipsis;
  font-size: 1em;
  font-weight: bold;
}

.type {
  margin-top: 1em;
  font-size: 0.9em;
  color: grey;
}
