.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  background-color: #f5f7fa;
  height: 92px;
  margin: auto;
  width: 100%;
  border-bottom: 1px solid #d9dadc;
}

.linkLogo {
  text-decoration: none;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  &:hover {
    transform: scale(1.07);
  }
}

.icon {
  width: 80px;
  height: 80px;
  fill: none;
}
