.about_container {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #282828;
}

.about_main {
  text-align: center;
}

.team_member {
  margin-bottom: 30px;
}

.team_photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.contact_list {
  list-style-type: none;
  padding: 0;
}

.contact_list li {
  margin-bottom: 10px;
}
