.plansContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(29, 29, 44, 1);
  align-items: center;
}
// #071c39
.plansInformationIcons {
  display: flex;
  flex-direction: row;
  gap: 7px;
  z-index: 1;
}

.plansInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
  z-index: 1;
}

.plansTitle {
  color: white;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
}

.plansTitleDescription {
  display: flex;
  text-align: center;
  color: white;
  font-size: 20px;
  margin: auto;
  font-weight: 100;
}

.planTypes {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  z-index: 1;
}

.planType {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 450px;
  background-color: #f6f6f6;
  border-radius: 15px;
}

.planTitle {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
}
.planInfo {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 10px;
  gap: 3px;
}
.planDiscount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 27px;
  width: 100px;
  background-color: #0d72ea;
  border-radius: 5px;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.planNotification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 27px;
  width: 100px;
  border: 2px solid #0d72ea;
  background-color: #ffffff;
  border-radius: 5px;
  color: #0d72ea;
  margin-top: 5px;
  margin-bottom: 10px;
}

.planCost,
.planConstraints {
  font-size: 14px;
}

.delimeter {
  margin-top: 12px;
  width: 240px;
  height: 0.1px;
  border: 1.3px solid #cccccc;
  border-radius: 5px;
}

.planBenefits {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 12px;
  margin-left: 14px;
  gap: 10px;
}

.planBenefit {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}

.planBenefitText {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

.planBenefitIcon {
  width: 24px;
  height: 25px;
  fill: none;
}

.buyButton {
  font-weight: 600;
  width: 200px;
  padding: 4px 15px;
  cursor: pointer;
  border-radius: 500px;
  border: 15px solid transparent;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.3s ease;
}

.buyButton:hover {
  transform: scale(1.1);
}

.buyButtonContainer {
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradientContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 100px;
  transition: all 0.5s ease-out;
}

.gradient {
  --size: 750px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  position: absolute;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(222, 84, 60, 100%), hsl(164, 79, 71));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  z-index: 0;
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}

@media (max-width: 650px) {
  .plansContainer {
  }

  .planTypes {
    flex-direction: column;
  }
}
