.songPage {
  display: flex;
  padding: 20px;
  background-color: #000;
  flex-direction: row;
}

.leftPart {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 800px;
  margin-right: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(29, 29, 44, 1);
  border-radius: 8px;
  padding: 30px;
  color: white;
}

.albumCover {
  position: relative;
  flex: 1;
  width: 20em;
  height: 20em;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.image {
  border-radius: 8px;
  width: 100%;
  height: fit-content;
}

.albumInfo {
  margin-left: 30px;
  flex: 1;
}

.albumLabel {
  font-size: 18px;
  color: #9ca3af;
}

.albumTitle {
  font-size: 48px;
  margin: 10px 0;
  color: #f9fafb;
}

.albumDetails {
  font-size: 24px;
  color: #9ca3af;
  margin-bottom: 20px;
}

.artist,
.year,
.single {
  display: inline-block;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.listenButton,
.likeButton,
.downloadButton,
.moreButton {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.listenButton {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

.listenButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.likeButton {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

.likeButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.downloadButton {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

.downloadButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.moreButton {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease;
}

.moreButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.comments {
  margin-top: 30px;
}

.commentsTitle {
  font-size: 32px;
  margin-bottom: 20px;
  color: #f9fafb;
}

.commentsList {
  list-style: none;
  padding: 0;
}

.commentItem {
  margin-bottom: 20px;
  background-color: rgba(29, 29, 44, 1);
  padding: 15px;
  border-radius: 8px;
}

.commentText {
  font-size: 18px;
  color: #f9fafb;
}

.commentAuthor {
  font-size: 14px;
  color: #9ca3af;
}

.related {
  flex: 1;
  background-color: rgba(29, 29, 44, 1);
  border-radius: 8px;
  padding: 30px;
  color: white;
  overflow-y: auto;
}

.relatedTitle {
  font-size: 32px;
  margin-bottom: 10px;
  color: #f9fafb;
}

.relatedList {
  list-style: none;
  padding: 0;
}

.relatedItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.relatedItemTitle {
  font-size: 18px;
  color: #f9fafb;
  margin-left: 10px;
}

.relatedItemArtist {
  font-size: 18px;
  color: #9ca3af;
}

.relatedLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.relatedLink:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
  .related {
    display: none;
  }

  .songPage {
    flex-direction: column;
    height: 130vh;
    padding: 10px;
  }

  .leftPart {
    max-width: none;
    margin-right: 0;
  }

  .container {
    flex-direction: column;
    padding: 20px;
  }

  .albumCover {
    width: 100%;
    height: auto;
  }

  .albumInfo {
    margin-left: 0;
    margin-top: 20px;
  }

  .albumTitle {
    font-size: 32px;
  }

  .albumDetails {
    font-size: 18px;
  }

  .buttons {
    flex-direction: column;
    gap: 5px;
  }

  .listenButton,
  .likeButton,
  .downloadButton,
  .moreButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .commentsTitle {
    font-size: 24px;
  }

  .commentText {
    font-size: 16px;
  }

  .related {
    height: auto;
    max-height: 100px;
  }

  .relatedTitle {
    font-size: 24px;
  }

  .relatedItemTitle,
  .relatedItemArtist {
    font-size: 16px;
  }
}
