.album {
  margin: 1%;
  border-radius: 20px;
  padding: 2%;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: black;
}
@media screen and (max-media: 1000px) {
  .album {
    margin: 20px;
  }
}

.album * {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.album:hover {
  transform: scale(1.05);
}

.albumCover {
  border-radius: 10px;
  width: 250px;
  margin: 10px;
}

.cardInfo {
  margin-top: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

.albumTitle {
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
  width: 250px;
}

.albumYear {
  color: rgb(111, 111, 111);
}
