.headerInput * {
  background-color: black;
}

.headerInput input[type='text'] {
  padding: 7px;
  padding-left: 15px;
  border: solid white;
  border-width: 1px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.headerInput input[type='text']:focus {
  outline: none;
  border-width: 2px;
}

.metadataField {
  width: 500px;
}

@media screen and (max-width: 1500px) {
  .metadataField {
    width: 300px;
  }
}

@media screen and (max-width: 1250px) {
  .headerInput input[type='text'] {
    width: 10px;
  }
}

@media screen and (max-width: 1085px) {
  .headerInput input[type='text'] {
    display: none;
  }
}
