.homePageContainer {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.introduction {
  text-align: center;
  width: 100%;
  height: 580px;
  color: #ffffff;
  background-color: #1d75de;

  .title {
    font-size: 48px;
    padding-top: 120px;
    font-weight: bold;
  }

  .description {
    padding-top: 45px;
    font-size: 24px;
    font-weight: light;
  }

  .extra_description {
    padding-top: 45px;
    font-size: 12px;
    font-weight: lighter;
  }
}
.buttons {
  justify-content: center;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  text-align: center;

  .first_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 200px;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 500px;
    border: 15px solid transparent;
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    transition: all 0.3s ease;
  }

  .first_button:hover {
    transform: scale(1.1);
  }

  .second_button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-weight: 600;
    width: 200px;
    padding: 7px 20px;
    cursor: pointer;
    border-radius: 500px;
    border: 15px solid #ffffff;
    border-width: 2px;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    transition: all 0.3s ease;
  }

  .second_button:hover {
    transform: scale(1.1);
  }
}
.buttonLink {
  display: flex;
  color: #ffffff;
  text-decoration: none;
}

.benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 580px;
  background-color: #ffffff;
  text-align: center;

  .title {
    font-size: 48px;
    padding-top: 100px;
    font-weight: bold;
  }
}

.subscriptions {
  width: 100%;
  height: 580px;
  background-color: #efefef;
  text-align: center;

  .title {
    font-size: 48px;
    padding-top: 100px;
    font-weight: bold;
  }
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-weight: 600;
  max-width: 200px;
  padding: 20px 60px;
  cursor: pointer;
  border-radius: 500px;
  border: 15px solid #ffffff;
  border-width: 2px;
  text-decoration: none;
  background-color: black;
  color: white;
  transition: all 0.3s ease;
  height: auto;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 0;
}

.signupDesc {
  padding-top: 5px;
  font-size: 12px;
  font-weight: lighter;
}

.signUpButtons {
  display: flex;
  flex-direction: column;
}
