#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    padding: 15px 40px;
    background-color: black;
    color: white;
    border-radius: 30px;
  }
  
  .header-title {
    font-size: 30px;
    font-weight: bold;
    background-color: black;
  }
  
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    font-weight: 500;
    font-size: 18px;
    background-color: black;
  }
  
  .header-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    background-color: black;
    padding: 10px 20px;
  }
  .header-link:hover {
    outline: none;
    background-color: rgba(127, 127, 142, 0.986);
  }
  #authorization {
    background-color: transparent;
    display: flex;
  }
  #signin {
    margin-right: 15px;
    color: white;
  }
  #login {
    background-color: white;
    color: black;
  }

  #login, #signin {
    border: solid 1px white;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
  }

  @media screen and (max-width: 1600px) {
    .header-link {
      padding: 5px 10px;
    }
  }
  @media screen and (max-width: 1250px) {
    .header-link {
      padding: 2px 4px;
      margin: 0 3px;
    }
    #login, #signin {
      padding: 5px 10px;
    }
  }
  @media screen and (max-width: 1085) {
    #signin {
      margin-right: 0px;
    }
  }