.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

.login_container {
  background-color: #ffffff;
  padding: 3rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 120px;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #6a6a6a;
}

.input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #12e85d;
  outline: none;
}

.button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 500px;
  border: none;
  background-color: #12e85d;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.button:hover {
  background-color: #10d154;
  transform: scale(1.05);
}
