.playerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(29, 29, 44, 1);
  color: white;
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.trackInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
}

.trackDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

.songTitle {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.songAuthor {
  font-size: 0.9em;
  opacity: 0.7;
}

.heartIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartIcon img {
  width: 24px;
  height: 24px;
}

.playerControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.controlButtons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 5px;
}

.icon img {
  width: 100%;
  height: 100%;
}

.progressBar {
  width: 460px;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #555;
  border-radius: 2px;
  outline: none;
}

.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.volumeControls {
  display: flex;
  align-items: center;
}

.volumeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.volumeIcon img {
  width: 24px;
  height: 24px;
}

.volumeControl {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #555;
  border-radius: 2px;
  outline: none;
}

.volumeControl::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .progressBar {
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #555;
    border-radius: 2px;
    outline: none;
  }

  .songTitle {
    font-size: 1em;
  }

  .songAuthor {
    font-size: 0.6em;
  }

  .volumeControl {
    width: 70px;
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: #555;
    border-radius: 2px;
    outline: none;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
